.sort-controls {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.sorting-radio-group {
  flex-direction: row;
}

.sorting-radio-group :global(.MuiFormControlLabel-label) {
  font-size: 0.8rem;
}
